/**
 * Created with JetBrains WebStorm.
 * UseTo: airmate activity
 * Date: 12-5-9
 * Time: 下午6:06
 */

/*---------------reset style--------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{
    padding:0; margin:0;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font:14px/1.5em "微软雅黑","宋体";
}
img{
    border: none;
}
table{
    border-collapse: collapse;border-spacing: 0;
}

ul{
    list-style: none;
}

.hide{
    display: none;
}
/*global style*/

.g-w{
    width: 980px;margin: 0 auto;
}
.g-hd{
    position: relative;
    height: 60px;
}
.g-logo{
    position: absolute;left: 45px;top:15px;
}
.g-logo h1{
    width: 127px;height: 29px;
    background: url(../images/logo.png);overflow: hidden;
}

.g-nav{
    position: absolute;left: 315px;top: 25px;overflow: hidden;zoom:1;
}
.g-nav li{
    float: left;display: inline;
    background: url(../images/r.png) right center no-repeat;
}
.g-nav .noright{
    background: none;
}
.g-nav a{
    margin: 0 13px;
    vertical-align: middle;
    color: #2c97b7;
    display: block;
    font-family: "微软雅黑";
}
.g-nav em{
    display: inline-block;vertical-align: middle;
    width: 1px;height:22px;
    background: url(../images/common.png) -130px 0;
}

.g-nav a span{
    color:#137439;
    margin-right: 3px;
}
.g-nav .act{
    color:#8dcb3d;
}

/*-----------------home.html-----------------------*/
.g-x{
    background: #d4eefa  url(../images/x.png) repeat-x;
}
.g-c{
    position: relative;
    height: 666px;
}


/*---------------activity.html--------------------------*/

.g-x2{
    background: #a2d9f3  url(../images/x2.png) repeat-x;
}

.g-c2{
    position: relative;
    height: 665px;
}

/*form*/
.input1{
    width:225px;
}
.input2{
    width: 75px;vertical-align: middle;
}
.input3{
    width: 135px;
}
.g-c2 input{
    border:none;outline: none;background: #edf6fa;
    height: 19px;line-height: 19px;padding: 0 3px;margin: 0;
}
.g-c2 form{
    position: absolute;left: 453px;top: 232px;
}
#name{
    position: absolute;left: 0;top:0;
}
#phone{
    position: absolute;left:0;top:24px;
}

.province,.city{
    position: absolute;left: 0;top:48px;width: 90px;height: 19px;z-index: 5;
}
.city{
   left: 100px;
}

#area{
    position: absolute;left:0;top:72px;
}
#card{
    position: absolute;left:0;top:95px;
}
#product{
    position: absolute;left:0;top:119px;
}
#number{
    position: absolute;left:0;top:143px;
}
#submit{
    position: absolute;left: 141px;top:168px;
    width: 90px;height: 32px;
    background: none;
}
#example{
    position: absolute;left:143px;top:146px;
    width: 86px;height: 13px;font-size: 13px;line-height: 13px;
}
/*simulate select*/
.sim-selector{
    padding-left:3px;height:19px;line-height: 19px;
    background:#edf6fa url(../images/common.png) right -47px;
}
.sim-opt{
    padding-left:3px;background: #edf6fa;overflow-y: scroll;
}
.sim-opt dd{
    border-bottom: 1px solid #ddd;
}

.tips-wrap{
    position:absolute;top:0;left:0;z-index: 200;
    width: 100%;height: 100%;display: none;
}
.tips-wrap .bg{
    position: absolute;top:0;left: 0;
    width: 100%;height: 100%;
    background: #000;opacity: 0.3;filter:alpha(opacity=30);
}
.tips-content .tl,.tips-content .tr,.tips-content .bl,.tips-content .br{
    width: 12px;height: 12px;background: url(../images/pop.png);
}
.h12{
    width: 12px;height: 12px;font-size:12px;line-height:12px;
}
.tips-content .tr{
    background-position: -14px 0;
}
.tips-content .bl{
    background-position: 0 -14px;
}
.tips-content .br{
    background-position: -14px -14px;
}
.tips-content .bg2{
    background: #e1eeff;
}

.clz{
    position: absolute;right: 2px;top:5px;
    background: url(../images/clz.png);
    width: 34px;height: 35px;
}

.error-title{
    margin:0 0 10px 30px;
}
.error-list{
    margin-left: 50px;
    list-style-position: inside;
    color: #eb0000;
}
.error-list li{
    cursor: pointer;
}

.result-suc{
    width: 584px;height: 363px;
}
.result-suc img{
    display: block;
    margin: 10px auto;
}
.result-suc div,.result-suc p{
    width: 510px;margin: 0 auto;
    font:14px/24px "微软雅黑";
}
.result-suc a{
    color: #0066ff;
}
.result-fail{
    width: 584px;
    height: 300px;
}
.result-fail img{
    display: block;
    margin: 40px auto;
}
.result-fail p{
    text-align: center;
    font:34px/38px "微软雅黑";
    color: #4e9c00;
}

.result-suc .award{
    background: url(../images/award.png);
    width: 536px;margin: 10px auto;
    padding: 20px 0;
    text-align: center;color: #cc0000;font:24px/30px "微软雅黑","宋体";
}
.result-suc .award i{
    color: #663300;
}

/*------------------product.html--------------------------*/
.g-c3{
    height: 666px;position: relative;
}
.p-slide{
    position: absolute;top: 219px;left: 127px;
    width: 798px;height: 378px;
}
.p-nav{
    position: absolute;left: 0;top: 8px;
    width: 137px;
}
.p-nav a{
    display: block;
    background-image:url(../images/pnav.png);
}
.p-nav-1{
    height: 58px;
    background-position: 0 0;
}
.act .p-nav-1{
    background-position: -137px 0;
}
.p-nav-2{
    height: 50px;
    background-position: 0 -59px;
}
.act .p-nav-2{
    background-position: -137px -58px;
}
.p-nav-3{
    background-position: 0 -109px;
    height: 51px;
}
.act .p-nav-3{
    background-position: -137px -109px;
}
.p-nav-4{
    background-position: 0 -160px;
    height: 51px;
}
.act .p-nav-4{
    background-position: -137px -160px;
}
.p-nav-5{
    background-position: 0 -211px;
    height: 50px;
}
.act .p-nav-5{
    background-position: -137px -211px;
}
.p-nav-6{
    background-position: 0 -262px;
    height: 52px;
}
.act .p-nav-6{
    background-position: -137px -262px;
}



.p-container{
    position: absolute;right: 0;top:0;overflow: hidden;
    width: 631px;height: 378px;
}
.p-block{
    width: 100%;height: 100%;
    position: absolute;top:0;left:0;width: 0;
}
.p-block-1{
    left: 0;width: 631px;
}
.unvisiable{
    opacity: 0;
    filter:alpha(opacity=0);
}

/*----------------------compete.html--------------------------*/
.g-x3{
    background:#d1ecf9 url(../images/x3.png) repeat-x;
}
.c-nav{
    position: absolute;top:180px;right:180px;
}
.c-nav li{
    float: left;display: inline;width: 108px;
}
.c-nav a{
    color: #077cab;font-size: 16px;line-height: 18px;
}
.c-nav .act a{
    color: #8ecb20;
}
.c-cpn{
    width: 837px;height: 378px;
    position: absolute;top: 219px;left:75px;
}